body{
    background-image: url("https://fscomps.fotosearch.com/compc/FSD/FSD734/woman-instructor-in-computer-class-stock-photo__x75638948.jpg");
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    color: rgb(238, 234, 234);
    text-align: center;
}
main{
    background-color: rgb(66, 66, 138);
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding: 35px;
    margin-top: 20px;
}

.increase{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.tag {
   margin-top: 5px;
}
.input-label{
    margin-bottom: 5px;
}
label, h3{
    color: rgb(238, 234, 234); 
}
textarea{
    height: 150px !important;
    margin-bottom: 20px;
    margin-top: 0px;
}
button{
    background-color: rgb(123, 123, 146);
    height: 50px;
}